<?xml version="1.0" encoding="utf-8"?>
<system.diagnostics>
  <switches>
    <!--
      Off = 0, Error = 2, Warning = 4, Information = 8, Verbose = 16,
      Error should be the production setting
      -->
    <add name="srtsLoginTraceSwitch" value="2" />
    <add name="srtsClinicOrderTraceSwitch" value="2" />
    <add name="srtsLabOrderTraceSwitch" value="2" />
    <add name="srtsRxTraceSwitch" value="2" />
    <add name="srtsExamTraceSwitch" value="2" />
    <add name="srtsPersonTraceSwitch" value="2" />
    <add name="srtsClinicManageTraceSwitch" value="2" />
    <add name="srtsLabManageTraceSwitch" value="2" />
    <add name="srtsAdminTraceSwitch" value="2" />
  </switches>
  <sources>
    <source name="LoginSource" switchName="srtsLoginTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsLoginTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsLoginTraceLog" />
      </listeners>
    </source>
    <source name="ClinicOrderSource" switchName="srtsClinicOrderTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsClinicOrderTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsClinicOrderTraceLog" />
      </listeners>
    </source>
    <source name="LabOrderSource" switchName="srtsLabOrderTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsLabOrderTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsLabOrderTraceLog" />
      </listeners>
    </source>
    <source name="RxSource" switchName="srtsRxTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsRxTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsRxTraceLog" />
      </listeners>
    </source>
    <source name="ExamSource" switchName="srtsExamTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsExamTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsExamTraceLog" />
      </listeners>
    </source>
    <source name="PersonSource" switchName="srtsPersonTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsPersonTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsPersonTraceLog" />
      </listeners>
    </source>
    <source name="ClinicManageSource" switchName="srtsClinicManageTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsClinicManageTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsClinicManageTraceLog" />
      </listeners>
    </source>
    <source name="LabManageSource" switchName="srtsLabManageTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsLabManageTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsLabManageTraceLog" />
      </listeners>
    </source>
    <source name="AdminSource" switchName="srtsAdminTraceSwitch" switchType="System.Diagnostics.SourceSwitch">
      <listeners>
        <add name="SrtsAdminTraceListener" type="System.Diagnostics.EventLogTraceListener" initializeData="SrtsAdminTraceLog" />
      </listeners>
    </source>
  </sources>
  <trace autoflush="true">
    <listeners>
      <remove name="Default"></remove>
    </listeners>
  </trace>
</system.diagnostics>