<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <appSettings>
    <add key="DeployedTo" value="DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ReportServerURL" value="https://TILSADBVBC023.dev.lab.mil/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerDomain" value="dev" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="certAuth" value="asdfASDF1234!@#$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="adrNameSpace" value="http://adr.dmdc.osd.mil/adrRecord" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="certName" value="srts.amedd.army.mil" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ReportServerUsername" value="SVC_AMED_S2_A4219" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerPwd" value="P@ssw0rD1234567&amp;^%$#@!" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Time Out Settings -->
    <add key="nonAdminTimeOutTicks" value="600000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="adminTimeOutTicks" value="300000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>

  <connectionStrings>
    <add name="SRTS"
       connectionString="Data Source=TILSADBVBC023;Initial Catalog=srtsProdTestDB;User ID=srtsProdTestUser;Password=SaveMe23"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ApplicationServices"
       connectionString="Data Source=TILSADBVBC023;Initial Catalog=srtsProdTestDB;User ID=srtsProdTestUser;Password=SaveMe23"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="srtsDevDBString"
       connectionString="Data Source=TILSADBVBC023;Initial Catalog=srtsProdTestDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
    <customErrors mode="Off" xdt:Transform="Replace" />
  </system.web>

  <system.webServer>
    <httpErrors xdt:Transform="Remove" />
  </system.webServer>
</configuration>