<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->

  <appSettings>
    <add key="DeployedTo" value="PRODTEST" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ReportServerURL" value="https://AMEDSATXA4157.amed.ds.army.mil/reportserver" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerDomain" value="amed" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="certAuth" value="asdfASDF1234!@#$" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="adrNameSpace" value="http://adr.dmdc.osd.mil/adrRecord" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="certName" value="srts.amedd.army.mil" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="ReportServerUsername" value="SVC_AMED_S2_A4219" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ReportServerPwd" value="P@ssw0rD1234567&amp;^%$#@!" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="LogoutUrl" value="https://srtstrainingtest.amedd.army.mil/WebForms/Account/Logout.aspx" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <!-- Time Out Settings -->
    <add key="nonAdminTimeOutTicks" value="600000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="adminTimeOutTicks" value="300000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>

  <connectionStrings>
    <add name="SRTS"
       connectionString="Data Source=AMEDSATXA4157;Initial Catalog=srtsWEBTrainingDB;User ID=srtsProdTestUser;Password=SaveMe23"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TOPS"
         connectionString="Data Source=AMEDSATXA4157;Initial Catalog=SRTSTrainingTOPS;User ID=srtsProdTestUser;Password=SaveMe23"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="METC"
         connectionString="Data Source=AMEDSATXA4157;Initial Catalog=SRTSTrainingMETC;User ID=srtsProdTestUser;Password=SaveMe23"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="ApplicationServices"
       connectionString="Data Source=AMEDSATXA4157;Initial Catalog=srtsWEBTrainingDB;User ID=srtsProdTestUser;Password=SaveMe23"
       xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="srtsDevDBString"
       connectionString="Data Source=AMEDSATXA4157;Initial Catalog=srtsWEBTrainingDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>

  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
    <customErrors mode="Off" xdt:Transform="Replace" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" lockItem="true" xdt:Transform="Replace" />

    <authentication mode="Forms">
      <forms loginUrl="~/WebForms/Account/Login.aspx" timeout="20" slidingExpiration="true" defaultUrl="~/WebForms/Default.aspx" enableCrossAppRedirects="true" requireSSL="true" xdt:Transform="Replace" />
    </authentication>

    <customErrors mode="RemoteOnly" defaultRedirect="~/WebForms/CustomErrors/GeneralError.aspx" xdt:Transform="Replace">
      <error statusCode="401" redirect="~/WebForms/CustomErrors/NoAccessError401.aspx" />
      <error statusCode="403" redirect="~/WebForms/CustomErrors/NoAccessError401.aspx" />
      <error statusCode="404" redirect="~/WebForms/CustomErrors/PageNotFound404.aspx" />
      <error statusCode="500" redirect="~/WebForms/CustomErrors/GeneralError.aspx" />
    </customErrors>

  </system.web>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=16070400; includeSubDomains" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

  <system.serviceModel>
    <client>
      <endpoint address="https://srtswebservicestest.amedd.army.mil/BmtWs.svc" name="BmtBinding_IBmtWs"
                xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </client>
  </system.serviceModel>

</configuration>