<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <clear />
    <!--DEV-->
    <add name="SRTS" connectionString="Data Source=pocsatxa4014;Initial Catalog=srtsWEBTrainingDB;User ID=srtsProdTestUser;Password=SaveMe23" providerName="System.Data.SqlClient" />
    <add name="ApplicationServices" connectionString="Data Source=pocsatxa4014;Initial Catalog=srtsWEBTrainingDB;User ID=srtsProdTestUser;Password=SaveMe23" providerName="System.Data.SqlClient" />
    <add name="srtsDevDBString" connectionString="Data Source=pocsatxa4014;Initial Catalog=srtsWEBTrainingDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--PRODTEST-->
    <add name="xSRTS" connectionString="Data Source=amedsatxa4157;Initial Catalog=srtsProdtestDB;User ID=srtsProdTestUser;Password=SaveMe23" providerName="System.Data.SqlClient" />
    <add name="xApplicationServices" connectionString="Data Source=amedsatxa4157;Initial Catalog=srtsProdTestDB;User ID=srtsProdTestUser;Password=SaveMe23" providerName="System.Data.SqlClient" />
    <add name="xsrtsDevDBString" connectionString="Data Source=amedsatxa4157;Initial Catalog=srtsProdTestDB;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="30" minRequiredPasswordLength="6" passwordAttemptWindow="10" applicationName="/SrtsWeb" />
      </providers>
    </membership>
    <profile defaultProvider="AspNetSqlProfileProvider" inherits="SrtsWeb.Account.CustomProfile" enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/SrtsWeb" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/SrtsWeb" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/SrtsWeb" />
      </providers>
    </roleManager>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <location path="SrtsWebTrainingAdmin/ClassMaintenance.aspx">
    <system.web>
      <authorization>
        <allow roles="MgmtEnterprise" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>